<footer class="footer">
    <section class="footer-section">
        <h1 class="footer-list-title">About</h1>
        <p class="about-text">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.
        </p>
    </section>
    <section class="footer-section">
        <h1 class="footer-list-title">Employers</h1>
        <ul class="footer-list">
            <li class="footer-list-item">
                How it works
            </li>
            <li class="footer-list-item">
                Register
            </li>
            <li class="footer-list-item">
                Post a Job
            </li>
            <li class="footer-list-item">
                Advanced Skill Search
            </li>
            <li class="footer-list-item">
                Recruiting Service
            </li>
            <li class="footer-list-item">
                Blog
            </li>
            <li class="footer-list-item">
                Faq
            </li>
        </ul>
        
    </section>
    <section class="footer-section">
        <h1 class="footer-list-title">Workers</h1>
        <ul class="footer-list">
            <li class="footer-list-item">
                How it works
            </li>
            <li class="footer-list-item">
                Register
            </li>
            <li class="footer-list-item">
                Post Your Skills
            </li>
            <li class="footer-list-item">
                Job Search
            </li>
            <li class="footer-list-item">
                Employer Search
            </li>
        </ul>
        
    </section>
    <section class="footer-section">
        <h1 class="footer-list-title">Have Questions?</h1>
        <ul class="footer-list">
            <li class="footer-list-item">
                <fa-icon class="footer-list-icon" [icon]="location"></fa-icon> 203 Fake St. Mountain View, San Francisco, California, USA
            </li>
            <li class="footer-list-item">
                <fa-icon class="footer-list-icon" [icon]="phone"></fa-icon>+2 392 3929 210
            </li>
            <li class="footer-list-item">
                <fa-icon class="footer-list-icon" [icon]="envelope"></fa-icon>info@yourdomain.com
            </li>
        </ul>
        
    </section>
</footer>