<header class="header">
    <section class="site-name">
        <p>JobPortal</p>
    </section>
    <section class="header-actions">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a>Home</a></li>
                <li class="header-nav-list-item"><a>About</a></li>
                <li class="header-nav-list-item"><a>Blog</a></li>
                <li class="header-nav-list-item"><a>Contact</a></li>
            </ul>
        </nav>
        <section class="header-routes">
            <button type="button" class="button blue">
                Post a job
            </button>
            <button type="button" class="button green">
                Want a job
            </button>
        </section>
    </section>
</header>