.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 1rem 9rem;
    background-color: transparent;
    position: absolute;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.site-name p {
    font-size: 20px;
    font-weight: 700;
}

.header-actions {
    display: flex;
    gap: 2rem;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 2rem;
}

.header-routes {
    display: flex;
    gap: 0.5rem;
}