<section class="hero-bottom">
    <section class="hero-bottom-item">
        <fa-icon class="bottom-icon" [icon]="resume"></fa-icon>
        <h1 class="bottom-heading">Search Millions of Jobs</h1>
        <p class="bottom-paragraph">A small river named Duden flows by their place and supplies.</p>
    </section>
    <section class="hero-bottom-item">
        <fa-icon class="bottom-icon" [icon]="people"></fa-icon>
        <h1 class="bottom-heading">Easy To Manage Jobs</h1>
        <p class="bottom-paragraph">A small river named Duden flows by their place and supplies.</p>
    </section>
    <section class="hero-bottom-item">
        <fa-icon class="bottom-icon" [icon]="awards"></fa-icon>
        <h1 class="bottom-heading">Top Careers</h1>
        <p class="bottom-paragraph">A small river named Duden flows by their place and supplies.</p>
    </section>
    <section class="hero-bottom-item">
        <fa-icon class="bottom-icon" [icon]="suitcase"></fa-icon>
        <h1 class="bottom-heading">Search Expert Candidates</h1>
        <p class="bottom-paragraph">A small river named Duden flows by their place and supplies.</p>
    </section>
</section>